<!DOCTYPE html>
<head>
  <title>ABOUT US</title>
  
  <link href="/css/about.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <div>
    <%- include("partials/header/nav.ejs" );%>
  </div> 
  
</head>
<body style="background-color: var(--clr-neutral-900);">

  <%- include("partials/loader/loader.ejs" );%>
   <div class="container">
    
   <section class="section1">
    
    <div class="div1">
        <h1 class="heading">ABOUT US</h1>
        
        <h3 class="info">The problem at hand is that many college students wait until their final year to begin preparing for job placements. As a result, they often experience panic and a loss of self-confidence when they see their peers getting placed before them. This delay in preparation not only causes unnecessary stress, but it also limits their ability to perform their best during interviews.

          To address this problem, a solution is needed that enables students to start preparing early, ideally in their 2nd or 3rd year of college. Additionally, this solution should provide access to hundreds of interview problems from the companies that students dream of working for. By taking small steps every day, students can build their confidence, increase their chances of success, and ultimately achieve their career goals.
          </h3>
          <br>
       <center><h3 class="heading" style="font-size: 2rem;">made by:</h2></center> 
    </div>

   </section>
   <div class="container">
    <div class="card">
      <div class="content">
        <div class="img"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/boy-avatar-6299533-5187865.png"></div>
        <div class="cardContent">
          <h3>Anuj Jha<br><span>Backend Developer</span></h3>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <div class="img"><img src="https://cdn3d.iconscout.com/3d/premium/thumb/woman-avatar-6299541-5187873.png"></div>
        <div class="cardContent">
          <h3>Dimpy Singh<br><span>Frontend Designer</span></h3>
        </div>
      </div>
    </div>
  </div>
   
   </div>
   <script src="script.js"></script>
</body>