body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #88ff88;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }
  button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: transparent;
  color: white;
  /* font-weight: bold; */
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;

}
  input[type="radio"] {
    margin-right: 10px;
  }